<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Page</title>
  </head>
  <body>
    <h1>Create Page</h1>
    <form class="" action="/create" method="post">
      <label for="name">Name</label> <br>
      <input type="text" name="name" id="name"> <br>
      <label for="call">Phone-Number</label> <br>
      <input type="text" name="call" id="call"> <br>
      <label for="address">Address</label> <br>
      <input type="text" name="address" id="address"> <br>
      <label for="age">Age</label> <br>
      <input type="text" name="age" id="age"> <br> <br>
      <input type="submit" name="submit" value="submit">
    </form> <br>
    <a href="/">Index Page</a>
  </body>
</html>
