<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/create" method="post">
      <label for="name">name</label>
      <input type="text" name="name" id="name" value="">
      <label for="call">phone-number</label>
      <input type="text" name="call" id="call" value="">
      <label for="address">address</label>
      <input type="text" name="address" id="address" value="">
      <label for="age">age</label>
      <input type="text" name="age" id="age" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
